.btn__submit {
    padding: 16px 32px;
    background-color: var(--color-primary);
    border: none;
    border-radius: 25px;
    color: var(--color-white);
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 0.5;
    text-align: center;
}