:root {
  --color-primary: #1a1777;
  --color-gray: #9995a7;
  --color-placeholder: #ada8ba;
  --color-white-snow: #f7f7f8;
  --color-white-blue: #edeef7;
  --color-white: #FFFFFF;
  --border-radius: 25px;
}

//***** Fonts *****//

h1 {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 2rem;
  color: var(--color-white);
}
